

@{
    ViewBag.Title = "Home Page";
}
<link  href="@Url.Content("~/Content/IndexStyle.css")" rel="stylesheet" type="text/css"/>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="img">

                <img src="~/image/zens1.png" width="100%" height="190px" />


            </div>

        </div>
    </div>
    
        <div class="row" id="mid">
            <div class="col-md-6">

                <h2>Zensar</h2>
                <p id="font">
                    Zensar is a global organization which conceptualizes, builds, and manages digital products through experience design,
                    data engineering, and advanced ...
                    We believe technology exists to serve our evolving human needs,
                    so we put people at the heart of everything we do. Always going above and beyond to deliver dependable technology and solutions,
                    we ensure our clients are equipped to take on the challenges of today and tomorrow.
                    We are a technology consulting and services company with 10,000 associates in 33 global locations.
                    More than 130 leading enterprises depend on our expertise to be more disruptive, agile, and competitive.
                    We focus on conceptualizing, designing, engineering, marketing and managing digital products and experiences
                    for high-growth companies
                </p>
                
            </div>
            <div class="col-md-6">

                <img src="~/image/zens2.jfif" height="500px" width="700px" />
            </div>
        </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/zens3.jfif" height="250px" width="300px" />
        </div>
        <div class="col-md-6">
            <h2>Zensar Story</h2>
            <p>
                We are a technology consulting and services company with 10,000 associates in 33 global locations.
                More than 130 leading enterprises depend on our expertise to be more disruptive, agile, and competitive.
                We focus on conceptualizing, designing, engineering, marketing and managing digital products and experiences
                for high-growth companies
            </p>
        </div>

    </div>
    <br />
        <div class="row" id="mid">
            <div class="col-md-6">
                <h1>Zensar Mission</h1>
                <p>
                    At Zensar, we exist for a singular purpose: making sure our clients thrive in a world of constant change.
                    our teams join together every day to make smart connections that embrace the diverse and unexpected,
                    unlocking new ideas that lead to fresh directions through impactful solutions.


                </p>
            </div>
            <div class="col-md-6">
                <img src="~/image/lap.jpg"  height="250px" width="300px"/>
            </div>

        </div>

    
</body>





